version: '3.8'
services:
  mysql:
    image: mysql:latest
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: APIrestUser
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3308:3308"
